
.confirmation article {
    padding-top: 2em;
    padding-bottom: 0
}

.confirmation form {
    padding-top: 0;
    overflow: hidden
}

@media (min-width: 769px) {
    .confirmation form {
        margin-right: 0;
        max-width: 100%
    }
}

.confirmation h3 {
    color: #6f777b
}

.confirmation p {
    margin-bottom: 1em
}

.confirmation div, .confirmation .warning {
    border-top: 1px solid #dee0e2
}

.confirmation div {
    padding: 1em 5.5em 1em 0;
    position: relative
}

@media (min-width: 641px) {
    .confirmation div {
        padding-right: 0
    }
}

.confirmation div.notice {
    padding-right: 0
}

@media (min-width: 641px) {
    .confirmation div.notice {
        padding-right: 5.5em
    }
}

.confirmation div h3, .confirmation div .data-wrap, .confirmation div .change {
    vertical-align: top
}

.confirmation div h3, .confirmation div .data-wrap {
    border-top: none;
    margin: 0 0 1em;
    padding: 0
}

@media (min-width: 641px) {
    .confirmation div h3, .confirmation div .data-wrap {
        display: -moz-inline-stack;
        display: inline-block
    }
}

.confirmation div h3 {
    font-weight: normal
}

@media (min-width: 641px) {
    .confirmation div h3 {
        width: 33%
    }
}

.confirmation div .data-wrap {
    padding: 0
}

@media (min-width: 641px) {
    .confirmation div .data-wrap {
        width: 52%;
        padding: 0
    }

    .confirmation div .data-wrap p, .confirmation div .data-wrap div {
        padding-right: 1.25em;
        padding-left: 1.25em
    }
}

.confirmation div .data-wrap p {
    color: #0b0c0c
}

.confirmation div .data-wrap .message {
    color: #6f777b
}

.confirmation div .data-wrap .postcode {
    text-transform: uppercase
}

.confirmation .back-to-previous {
    position: static
}

.confirmation .change {
    background-color: #dee0e2;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.35em 0.5em 0.15em 0.5em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #0b0c0c;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em
}

.confirmation .change:visited {
    background-color: #dee0e2
}

.confirmation .change:hover, .confirmation .change:focus {
    background: #d0d3d6
}

.confirmation .change:active {
    top: 2px;
    -webkit-box-shadow: 0 0 0 #dee0e2;
    -moz-box-shadow: 0 0 0 #dee0e2;
    box-shadow: 0 0 0 #dee0e2
}

.confirmation .change.disabled, .confirmation .change[disabled=disabled], .confirmation .change[disabled] {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5
}

.confirmation .change.disabled:hover, .confirmation .change[disabled=disabled]:hover, .confirmation .change[disabled]:hover {
    cursor: default;
    background-color: #dee0e2
}

.confirmation .change.disabled:active, .confirmation .change[disabled=disabled]:active, .confirmation .change[disabled]:active {
    top: 0;
    -webkit-box-shadow: 0 2px 0 #b5babe;
    -moz-box-shadow: 0 2px 0 #b5babe;
    box-shadow: 0 2px 0 #b5babe
}

.confirmation .change:hover, .confirmation .change:focus, .confirmation .change:visited {
    color: #0b0c0c
}

.confirmation .change:before {
    content: "";
    height: 110%;
    width: 100%;
    display: block;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0
}

.confirmation .change:active:before {
    top: -10%;
    height: 120%
}

.confirmation .change[rel=external]:after {
    display: none;
    content: none;
    margin-left: 0;
    margin-right: 0
}

@media (min-width: 641px) {
    .confirmation .change {
        position: relative;
        float: right;
        margin-top: 0
    }
}

.confirmation .warning {
    padding: 1.6em 0 0 3em;
    background-position: 0 1.25em
}

.confirmation .warning p {
    color: #0b0c0c;
    font-weight: 600
}

.confirmation .validation-message {
    border-top: none;
    padding-left: 0.5em;
    margin-left: 0
}

.confirmation .next {
    margin-top: 1em
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

form:after, fieldset:after, .optional-section:after, .help-content:after, #found-addresses:after, .validation-wrapper:after, .confirmation div:after, .article:after {
    content: "";
    display: block;
    clear: both
}

@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica")
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

form:after, fieldset:after, .optional-section:after, .help-content:after, #found-addresses:after, .validation-wrapper:after, .confirmation div:after, .article:after {
    content: "";
    display: block;
    clear: both
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

.complete article {
    min-height: 300px;
    padding-bottom: 2em
}

.complete header {
    position: relative;
    color: #fff;
    max-width: 640px;
    background: #28a197 !important;
    margin: 0 2em;
    margin: 1em 0 2em;
    padding: 1em
}

@media (min-width: 641px) {
    .complete header {
        margin-left: 30px;
        margin-right: 30px
    }
}

.complete header h1, .complete header h3, .complete header p {
    text-align: center
}

.complete header h1, .complete header h3 {
    margin: 0 auto 0.5em;
    padding-left: 24px;
    background-size: 20px
}

@media (min-width: 641px) {
    .complete header h1, .complete header h3 {
        padding-left: 32px;
        background-size: initial
    }
}

.complete header h1 {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700
}

@media (max-width: 640px) {
    .complete header h1 {
        font-size: 24px;
        line-height: 1.04167
    }
}

.complete header h3 {
    font-family: "nta", Arial, sans-serif;
    font-size: 27px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    background: url("../images/icon-tick.png") left center no-repeat
}

@media (max-width: 640px) {
    .complete header h3 {
        font-size: 18px;
        line-height: 1.11111
    }
}

.complete header p {
    font-family: "nta", Arial, sans-serif;
    font-size: 19px;
    line-height: 1.31579;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    color: #fff;
    padding: 0
}

@media (max-width: 640px) {
    .complete header p {
        font-size: 16px;
        line-height: 1.25
    }
}

.complete header p span {
    font-family: "nta", Arial, sans-serif;
    font-size: 36px;
    line-height: 1.11111;
    font-weight: 400;
    text-transform: none;
    font-weight: 700;
    display: block;
    margin: 0 0 10px 0
}

@media (max-width: 640px) {
    .complete header p span {
        font-size: 24px;
        line-height: 1.04167
    }
}

@media (max-width: 640px) {
    .complete header p span {
        font-size: 36px
    }
}

.complete header.bunting {
    padding-top: 5em
}

@media (max-width: 550px) {
    .complete header.bunting {
        padding-top: 4em
    }
}

@media (max-width: 450px) {
    .complete header.bunting {
        padding-top: 3em
    }
}

.complete p.intro {
    border-bottom: 1px solid #bfc1c3;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em
}

.complete div.footnote {
    border-top: 1px solid #bfc1c3;
    padding-top: 1.5em;
    margin-top: 1.5em
}

.complete div.footnote h3 {
    margin: 0 0 1em
}

.complete .email {
    padding-left: 34px;
    background-size: 20px 20px;
    background: url("../images/icon-email.png") 0px 3px no-repeat
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .complete .email {
        background-size: 24px 24px;
        background-image: url("../images/icon-email-2x.png")
    }
}

.complete .sharing-links {
    margin: 0 0 1em;
    padding-left: 0
}

.complete .sharing-links li {
    display: block;
    padding-left: 0;
    margin: 0 1em 1em 0;
    list-style: none
}

@media (min-width: 500px) {
    .complete .sharing-links li {
        display: inline;
        margin-bottom: 0
    }
}

.complete .sharing-links li a, .complete .sharing-links li img {
    vertical-align: middle
}

.complete .sharing-links li img {
    margin-right: 10px
}

.complete .bunting-image {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

form:after, fieldset:after, .optional-section:after, .help-content:after, #found-addresses:after, .validation-wrapper:after, .confirmation div:after, .article:after {
    content: "";
    display: block;
    clear: both
}

@font-face {
    font-family: GDS-Logo;
    src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica")
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}