<link rel="stylesheet" href="/public/stylesheets/bsa.css">

 <div class="bsa-logo">
  <div class="bsa-logo-container" style="text-align:right; padding-top:2em">

      <a class="bsa-header-logo" title="Go to the NHSBSA.UK homepage">
          <img src="/public/images/bsa-logo.svg" style="width:28%" alt="" >
        </a>

  </div>
<div class="bsa-swoosh-container" style="margin-top:">

      <a class="bsa-header-swoosh" title="Go to the NHSBSA.UK homepage">
          <img src="/public/images/bsa-swosh-no-logo.svg"  alt="" >
        </a>

  </div>
</div>
