// Add "tint" and "shade" mixins

// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}

// Import GOV.UK frontend toolkit
@import "colours";
@import "device-pixels";
@import "measurements";
@import "conditionals";
@import "shims";
//@import "typography";
@import "grid_layout";
@import "css3";
@import "design-patterns/buttons";

// Import GOV.UK elements

@import "elements/helpers";
@import "elements/reset";
//@import "elements/typography";
@import "elements/layout";
@import "elements/forms";
@import "elements/tables";
@import "elements/buttons";
@import "elements/details";
//@import "elements/lists";
@import "elements/panels";
@import "elements/icons";
@import "elements/utilities";
@import "elements/cards";


// Import modules

@import "modules/shame";
@import "modules/for-elements";
@import "modules/form-navigation";
@import "modules/other-specify";
@import "modules/radios-and-checkboxes";
//@import "modules/auto-suggest";
@import "modules/select-boxes";
@import "modules/guide_navigation";
@import "modules/page_meta";
@import "modules/breadcrumbs";

// NHS.UK Template

@import "modules/nhs-template";

// NHS "Sassline" based typography
@import "typography/variables";
@import "typography/modular-scale";
@import "typography/mixins";
@import "typography/typography";

// Default content stuff

.markdown-content {
  h1 { @extend .heading-large; }
  h2 { @extend .heading-medium; }
  h3 { @extend .heading-small; }

  ul { @extend .list-bullet; }
  ol { @extend .list-number; }
}

// Prototype warning banner
@import "modules/prototype-warning";


// My styles

blockquote {
font-size: 24px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

    @media screen and (max-width: 480px) {
    blockquote {
        font-size: 18px;
    }
}
    
blockquote:before {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}


.info-panel {
  padding: 20px 20px 20px 60px;
  font-weight: bold;
  background: #0072C6;
  text-align: left;
  color: white;
  margin-bottom: 5px;}

.info-panel-negative {
  padding: 20px 20px 20px 60px;
  font-weight: bold;
  background: #eff3f5;
  text-align: left;
  color: gray;
  margin-bottom: 5px;}

/*icons for types of care*/
.prescription {
  background-image: url(/public/images/prescription.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 3.4em
}

.sight-test {
  background-image: url(/public/images/sight-test-neg.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 3.4em
}

.glasses {
  background-image: url(/public/images/glasses-neg.svg);
  background-repeat: no-repeat;
  background-position: 1em;
  background-size: 3.4em
}

.dental {
  background-image: url(/public/images/dental-neg.svg);
  background-repeat: no-repeat;
  background-position: 1em;
    background-size: 3.4em}

.dental-exam {
  background-image: url(/public/images/dental.svg);
  background-repeat: no-repeat;
  background-position: 1em;
    background-size: 3.4em}

.wigs {
  background-image: url(/public/images/wigs-neg.svg);
  background-repeat: no-repeat;
  background-position: 1em;
    background-size: 3.4em}

.travel {
  background-image: url(/public/images/travel-neg.svg);
  background-repeat: no-repeat;
  background-position: 0.5em;
    background-size: 4.1em}

.right-col-details {
  @include clearfix;
  margin-top: 1em;
  div {
  margin-bottom: 15px;
    &:first-child {
      border-bottom: 7px solid $nhs-blue;
    }
  }
}

    .right-col-details div:first-child {
    border-bottom: 7px solid #0072C6;
        padding-bottom: 0px;}
    .success {
  background-image: url("/public/images/tick-green.svg");
  background-repeat: no-repeat;
  background-position: 95% 55%; }

.form-hint-list-item {
	margin:0 0 0.6em 0;
	display:table
}
.form-hint-list-item__indicator {
	vertical-align:middle;
	margin-right:.26316em;
	display:inline-block;
	width:20px;
	height:20px;
	background-position:center center;
	background-repeat:no-repeat;
	background-image:url("../images/bullet-icon.svg")
}
.form-hint-list-item--valid {
	color:#00823B
}
.form-hint-list-item--valid .form-hint-list-item__indicator {
	background-image:url("/public/images/tick-green.svg")
}
    .form-hint-list-item--false {
	color:grey
}
.form-hint-list-item--false .form-hint-list-item__indicator {
	background-image:url("/public/images/cross-red.svg")
}
.form-hint-list-item__primary {
	display:table-cell;
    padding-right: 0.25em;
}
    
.hidden {
  display: none;
}

.link-back {
  display: inline-block;
  position: relative;
  font-weight: 400;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  text-decoration: none;
  border-bottom: 1px solid #0072C6;
}

@media (min-width: 641px) {
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
  color: #0072C6;
}
    a.link-back{
        text-decoration: none
    }
.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0072C6;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.additional-info{
        padding: 1rem 2rem 1rem 4rem;
        background: rgba(0, 114, 198, 0.1) url("/public/images/icon-information.png") 1rem no-repeat;
}

.panel-indent-body{
      clear: both;
      border-left: 6px solid #eff3f5;
      padding:  0.3rem 1rem 0.8rem 1rem;
    line-height: 2.5rem;
}

table, {
    border-collapse: collapse;
border-spacing: 5px;
margin: 1em 0 2em;
    width: 100%;}
    th, article th {
    line-height: 1.25em;
    text-align: left;
    font-weight: 700;
        border-bottom: solid 1px #bfc1c3;
    }

    td {
        border-bottom: solid 1px #bfc1c3;}
        td,th {
    font-size: 16px;
            line-height: 1.25;
    padding: .75em .5em .75em 0;}



.hidden {
  display: none;
}

.column-half, .column-one-half {
  float: left;
  width: 50%;
}

.navigation-links {
  font-size: 90%;
  padding: 0 11px;
}

.navigation-links > li {
  list-style: none;
}

.pagination .pag-right {
  text-align: right;
  display: block;
  float: right;
  width: 50%;
}

.pagination .pag-right .pag-graphic {
  width: 52px;
  margin-top: -20px;
  height: 75px;
  float: right;
  background-image: url(https://assets.publishing.service.gov.uk/static/arrow-sprite-0fa429eadf557102b8e1ca6bf7220f7e61812efbc4f52ed40e5aedd11474635f.png);
  background-position: right;
  background-repeat: none;
  display: block;
}

.pagination a .pag-title {
  font-size: 150%;
  display: block;
  width: 80%;
  float: left;
}

.pagination a .pag-title {
  float: right;
  padding-bottom: 3px;
  width: 80%;
}

table {
  border-collapse: collapse;
  border-spacing: 5px;
  margin: 1em 0 2em;
  width: 100%;
}

th, article th {
  line-height: 1.25em;
  text-align: left;
  font-weight: 700;
  border-bottom: solid 1px #bfc1c3;
}

td {
  border-bottom: solid 1px #bfc1c3;
}

td, th {
  font-size: 16px;
  line-height: 1.25;
  padding: .75em .5em .75em 0;
}

.additional-info {
  padding: 1rem 2rem 1rem 4rem;
  background: rgba(0, 114, 198, 0.1) url("/public/images/icon-information.png") 1rem no-repeat;
}

.additional-info-no-image {
  padding: 1rem 2rem 1rem 1.5rem;
  background: rgba(0, 114, 198, 0.1);
}

.panel-indent-body {
  clear: both;
  border-left: 6px solid #eff3f5;
  padding: 0.3rem 1rem 0.8rem 1rem;
  line-height: 2.5rem;
}
