 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

<a href="javascript:history.go(-1)" class="link-back">Back</a>


 <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Do you, your partner or one of your parents get any of these benefits?
  </h1>

  <br>
  <form action="passportedBen-handler" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="incomeSupport" name="benefits" value="incomeSupport">
        <label class="form-control-radio" for="incomeSupport">
          Income Support
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="uniCredit" name="benefits" value="uniCredit">
        <label class="form-control-radio" for="uniCredit">
          Universal Credit
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="jsa" name="benefits" value="jsa">
        <label class="form-control-radio" for="jsa">
          income-based Job Seeker's Allowance
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="esa" name="benefits" value="esa">
        <label class="form-control-radio" for="esa">
          income-related Employment &amp; Support Allowance
        </label>
      </div>
    <div class="form-group">
        <input type="radio" id="esa" name="benefits" value="penCredit">
        <label class="form-control-radio" for="penCredit">
          Pension Credit (Guarantee Credit)
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="radio" id="continue" name="benefits" value="continue">
        <label class="form-control-radio" for="continue">
          I <strong>don't</strong> get any of these
        </label>
      </div>
    {{
      form_macros.button({
        label: 'Next'
      })
    }}
          </div>

  </form>
    </div>


    </div>
    </div>

</main>
{% endblock %}
