 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">Do you or your partner get any of these tax credits?</h2>

      <br>
  <form action="taxcredits-over20" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="incomeSupport" name="benefits" value="incomeSupport">
        <label class="form-control-radio" for="incomeSupport">
          Income Support
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="uniCredit" name="benefits" value="uniCredit">
        <label class="form-control-radio" for="uniCredit">
          Universal Credit
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="jsa" name="benefits" value="jsa">
        <label class="form-control-radio" for="jsa">
          Income-based Job Seeker's Allowance (JSA)
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="esa" name="benefits" value="esa">
        <label class="form-control-radio" for="esa">
          Income-related Employment &amp; Support Allowance (ESA)
        </label>
      </div>
    <div class="form-group">
        <input type="radio" id="penCredit" name="benefits" value="penCredit">
        <label class="form-control-radio" for="penCredit">
          Pension Credit (Guarantee Credit)
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="radio" id="continue" name="benefits" value="continue">
        <label class="form-control-radio" for="continue">
          No
        </label>
      </div>

      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="taxcredits" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="taxcredits" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
      </div>


    </div>
    </div>

</main>


{% endblock %}









