{% extends 'templates/nhsbsa_website_template.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block content %}

<style>
    a.service-name {
        text-decoration: none;
        color: #555;
        line-height: 1.8;
    }
    
    a.service-name a:hover {
        text-decoration: underline;
    }
    
    .content-panel {
        border-bottom: 2px solid #e0e0e0;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    
    .top-line {
        border-bottom: 2px solid #e0e0e0;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
    }
    
    @media (max-width: 641px) {
        .top-line {
            border-bottom: none;
        }
    }
    
    p.bullet {
        margin: 0rem;
    }
    
    span.part-number::after {
        background-image: ;
    }
    
    .part-number::after {
        text-decoration: none;
    }
</style>


<!-- Stylesheet includes -->
<link rel="stylesheet" type="text/css" href="/public/stylesheets/redweb_a.css">
<link rel="stylesheet" href="/public/stylesheets/font-awesome.css">
<link rel="stylesheet" href="/public/stylesheets/accordian.css">
<link rel="stylesheet" href="/public/stylesheets/parent-navigation.css">



<div class="page">

    <!-- header -->
    <header class="main_header" id="main-header">
        <div class="container">
            <div class="header-row">
                <div class="header-logo site-logo">
                    <a title="Home" class="site-logo-link" href="homepage" rel="home">
                        <img width="356" height="77" class="site-logo-image" alt="NHS Buisness Services authority" src="/public/images/bsa-logo.png">
                        <span class="sr-only">NHSBSA</span>
                    </a>
                </div>
            </div>
        </div>
    </header>





    <!-- main -->
    <main class="main_body accordion-with-descriptions-03" id="main-content" role="main" tabindex="-1">
        <div class="content-header sm-mt-40 mt-20">
            <div class="container">
                <div class="row is-just-between sm-is-direction-row is-direction-column ie-text-right">
                    <div class="column sm-is-none is-auto ie-is-inline-block ie-is-8 ie-text-left">
                        <div class="service-name-wrapper">
                            <a class="service-name" href="section-lis"> Help paying NHS costs</a>
                        </div>

                        <!-- search -->
                        <button class="js-search-toggle search-toggle show-from-sm ie-is-hidden">
                        <span class="sr-only">Toggle search</span>
                        </button>
                    </div>

                    <div class="column sm-is-none is-auto search-column ie-is-inline-block ie-is-4">
                        <div class="js-search-controller search-controller">
                            <div class="js-search-container">
                                <div title="Welcome" class="views-exposed-form bef-exposed-form homepage" id="block-search-block" url="" data-block-plugin-id="views_exposed_filter_block:search-search_block" data-drupal-selector="views-exposed-form-search-search-block">
                                    <div class="search-block-form searchBar">
                                        <form id="views-exposed-form-search-search-block" action="/search" method="get" accept-charset="UTF-8" block="block-search-block">
                                            <div class="js-form-item form-item js-form-type-textfield form-item-aggregated-field js-form-item-aggregated-field">
                                                <label for="edit-aggregated-field">Search</label>
                                                <input name="aggregated_field" class="form-text" id="edit-aggregated-field" type="text" size="30" maxlength="128" placeholder="Search the NHSBSA website" value="" data-drupal-selector="edit-aggregated-field">
                                            </div>
                                            <div class="form-actions js-form-wrapper form-wrapper" id="edit-actions" data-drupal-selector="edit-actions">
                                                <div class="submit-controller">
                                                    <button class="button js-form-submit form-submit" id="edit-submit-search" type="submit" data-drupal-selector="edit-submit-search" value="Search">
                                                    <span class="submit-inner">Search</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- tabs -->
                <div class="contextual-tabs"></div>
                <div class="content-row">
                    <div class="container tablet-mb-65 mb-25">
                        <div class="row mt--15">
                            <div class="column is-block lg-is-8 is-12 ie-is-8">
                                <div title="Check your eligibility" class="content_page" id="block-pagetitle" url="" data-block-plugin-id="page_title_block">
                                    <h1 class="js-quickedit-page-title">Aged 60 and over</h1>
                                </div>

<!--
                                <div class="article-container group top-line">


                                    <div class="content-block">
                                        <div class="inner">

                                            <aside>
                                                <div class="inner">
                                                    <a href="#" id="showBtn" class="show-all-parts">Show all parts of this guide</a>

                                                    <a href="#" id="hideBtn" class="show-all-parts show-all-parts-open" style="display: none;">Hide all parts of this guide</a>
                                                    <nav id="na" role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">

                                                        <ol class="link-list">
                                                            <li style="margin-left: 0em">
                                                                <span class="part-number"></span>
                                                                <a title="Part 1: Under 16 years of age" href="#u16" id="under16">Children under 16</a>
                                                            </li>
                                                            <li style="margin-left: 0em">
                                                                <span class="part-number"></span>
                                                                <a title="Part 2: Young people aged 16,17 or 18" href="#u18" id="18">Young people aged 16,17 or 18</a>
                                                            </li>
                                                        </ol>

                                                        <ol class="link-list">
                                                            <li style="margin-left: 0em">
                                                                <span class="part-number"></span>
                                                                <a title="Part 3: Young people aged 19" href="#u19" id="19">Young people aged 19</a>
                                                            </li>
                                                            <li style="margin-left: 0em">
                                                                <span class="part-number"></span>
                                                                <a title="Part 4: Living or getting treatment in Scotland" href="#udevolved" id="devolved">Getting treatment in Scotland or Wales</a>
                                                            </li>
                                                        </ol>
                                                    </nav>
                                                </div>
                                            </aside>
                                        </div>
                                    </div>
                                </div>
                                <br>
-->
<!-- jump to links -->
                                <article role="article" about="/social-work-bursary/check-your-eligibility" data-history-node-id="595">
                                    <div>
                                        <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
<!-- under 16 jump to -->
                                            <div id="over60">
            <p>People aged 60 and over get free:</p>
        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS sight tests</li>
          <li style="list-style-type:none">and</li>
          <li>NHS dental check-ups, if you live in Scotland or Wales.</li>
        </ul><br>

         <h3 class="headin-small">If you get Pension Credit Guarantee Credit</h3>
                                                <p>Pension Credit has two parts – Guarantee Pension Credit and Savings Pension Credit.</p>
                                                <p>Guarantee Credit tops up your weekly income if you have a low income below £155.60 (for single people) or £237.55 (for couples)</p>

         <p>If you get Pension Credit Guarantee Credit, you get free:</p>
        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS dental treatment for any course of treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>
        </ul>
        <p>You also:</p>
        <ul class="list list-bullet">
        <li>Get help towards the cost of glasses or contact lenses</li>
          <li>May get help towards the cost of repair or replacement of glasses or contact lenses</li>
          <li>May get help with travel costs for NHS treatment.</li>
        </ul>


                                            </div>
<!-- 16,17,18 jump to -->

<!-- scotland and wales -->
<!--                                            <div id="udevolved">-->
<!-- scotland accoridans -->


<!--                                            </div>-->
                                </article>

<!-- right navigation -->
                                <div title="Check your eligibility" class="content_page" id="block-contentsubchildrenblock" url="" data-block-plugin-id="content_sub_children_block">
                                </div>
                                </div>
                                <div class="column is-block is-normal lg-is-4 is-12 ie-is-4">
                                    <div class="row is-direction-column">
                                        <div class="column is-block is-normal is-12 ie-is-12 hide-from-md">
                                            <nav class="breadcrumb sidebar-nav" role="navigation" aria-labelledby="system-breadcrumb">
                                                <h2 class="visually-hidden" id="system-breadcrumb">Breadcrumb</h2>
                                                <ul>
                                                <li class="menu-item level-0 menu-item--expanded">
                                                        <a href="section-lis">Help paying NHS costs</a>
                                                    </li>
                                                    <li class="menu-item active">
                                                        <a href="content-children">Children and young people</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-over60">Aged 60 and over</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-benefits">Getting benefits or tax credits</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-pregnant">Pregnant or had a baby recently</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-illness">Long term illness</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-warpension">Getting a war pension</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-lis">People with little money to live off</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="content-ppc">Spreading the cost of prescriptions</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                                      <div class="row" style="margin-left:0; margin-top:0;">
            <div class="col-sm-5" style="padding-left:0">
            <a title="Check if you can get help" href="../b4/start" style="color: white; text-decoration: none; margin-top:0px;" class="ckbtn">Check if you could get help paying NHS costs</a>
            </div>
<!--
            <div class="panel panel-border-narrow">
 <span>Use our questionaire tool for a quick check</span>
  </div>
-->

            </div>
                                </div>
                                </div>
                            </div>
                        </div>

<!-- footer blocks -->
                        <div title="Check your eligibility" class="content_page" id="block-relatedblock" url="" data-block-plugin-id="related_block"></div>
                        <div title="Check your eligibility" class="content_page" id="block-relatedblock-2" url="" data-block-plugin-id="related_block"></div>
                        <div class="service-area-footer bg-white mr--15 ml--15 pl-20 pr-20 tablet-pt-50 pt-15 tablet-pb-50 pb-15">
                            <div class="container tablet-pb-60 pb-25">
                                <div block="block-service-footer-blocks">
                                    <div class="row view view-service-footer-v1 view-id-service_footer_v1 view-display-id-block_1 js-view-dom-id-730e935ba271773c5fa5cc00e3c42e2c07019e0ddef602f0a5734ab87acc36c1">
                                        <div class="column tablet-is-4 sm-is-6 is-12 ie-is-4">
                                            <div class="servicefooterBlock">
                                                <h3 class="servicefooterBlock-title">
                                                    <a href="">NHSBSA website public beta</a>
                                                </h3>
                                                <p>If you have any feedback or queries regarding our new website, please contact nhsbsa.digital@nhs.net</p>
                                                <a class="servicefooterBlock-link" href="">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="site-back-to-top-wrapper show-from-md ie-is-hidden">
                            <a class="site-back-to-top" href="#top">Back to top</a>
                        </div>
    </main>

<!-- footer -->
    <footer class="main_footer" id="main-footer">
        <div class="footer-wrap">
            <div class="container">
                <div class="footer-row footer-primary-row">
                    <div class="header-supporting">
                        <nav title="Welcome" class="homepage" id="block-footerprimary" role="navigation" aria-labelledby="block-footerprimary-menu" url="" data-block-plugin-id="system_menu_block:footer">
                            <h2 class="visually-hidden" id="block-footerprimary-menu">footer primary </h2>
                            <ul class="primary-footer-nav">
                                <li class="primary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="<front>">NHSBSA Home</a>
                                </li>
                                <li class="primary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="<front>">Accessibility</a>
                                </li>
                                <li class="primary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="sitemap">Sitemap</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer-logo site-logo">
                        <a title="Home" class="site-logo-link" href="">
                            <img width="329" height="71" class="site-logo-image" alt="NHS Buisness Services authority" src="/public/images/bsa-logo.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="footer-row footer-secondary-row">
                <div class="container">
                    <div class="header-supporting">
                        <nav title="Welcome" class="homepage" id="block-footersecondary" role="navigation" aria-labelledby="block-footersecondary-menu" url="" data-block-plugin-id="system_menu_block:footer-secondary">
                            <h2 class="visually-hidden" id="block-footersecondary-menu">footer secondary</h2>
                            <ul class="secondary-footer-nav">
                                <li class="secondary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="node/319">Secondary</a>
                                </li>
                                <li class="secondary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="<front>">Terms &amp; Conditions</a>
                                </li>
                                <li class="secondary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="<front>">Privacy policy &amp; Cookies</a>
                                </li>
                                <li class="secondary-footer-nav-item">
                                    <a href="" data-drupal-link-system-path="<front>">Data protection</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    </div>


    <script src="public/javascripts/redweb_a.js" defer="defer" type="text/javascript"></script>
    <script src="/public/javascripts/vendor/jquery-1.11.2.min.js"></script>
    <script src="/public/javascripts/vendor/jquery-ui.min.js"></script>
    <script src="/public/javascripts/vendor/jquery.select-to-autocomplete.js"></script>
    <script src="/public/javascripts/vendor/jquery.sticky-kit.min.js"></script>
    <script src="/public/javascripts/vendor/jquery.easing.1.3.js"></script>
    <script src="/public/javascripts/vendor/jquery.transit.js"></script>
    <script src="/public/javascripts/toggle.js"></script>
    <script src="/public/javascripts/details.polyfill.js"></script>
    <script src="/public/javascripts/cards.js"></script>
    <script src="/public/javascripts/modules.js"></script>
    <script src="/public/javascripts/application.js"></script>
    <script src="/public/javascripts/modules/accordion-with-descriptions.js"></script>

    <script>
        $(function() {

            $(".sticky").stick_in_parent();

        });
    </script>
    <script>
        $(document).ready(function() {
            var showBtn = $('#showBtn');
            var hideBtn = $('#hideBtn');
            var nav = $('#na');
            $(hideBtn).hide();

            $(hideBtn).click(function() {
                $(hideBtn).hide();
                $(showBtn).show();
                $(nav).toggleClass('page-navigation-closed');
            });

            $(showBtn).click(function() {
                $(showBtn).hide();
                $(hideBtn).show();
                $(nav).toggleClass('page-navigation-closed');
            });
        });
    </script>

    <script src="/public/javascripts/EQCSS.min.js" defer="defer" type="text/javascript"></script>
    <script src="https://use.fontawesome.com/df8872eeb0.js"></script>


{% endblock %}



