{% extends 'templates/nhs_bsa_with_swish_layout.html' %}

{% block content %}



<main id="content" role="main" class="multi-page">

       <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h1 class="heading-xlarge">Find out if you can get help to pay NHS costs</h1>
        </div>
        <br>
        <p>Although most NHS treatments are free, there may still be some costs, for example paying for your prescriptions or dental treatment.</p>
        <p>There are lots of different ways to get help paying for NHS costs, depending on your circumstances.</p>
          <p>Use this checker to see what help is available and how to get it.</p>
          <p>It takes about 5 minutes to use.</p>


<div class="panel-indent claim-ref">
        <p class="heading-small">This checker is only a guide. You'll still have to apply to find out for certain if you're eligible and how much help you'll get.</p>
      </div>

        <p>
          <a class="button button-get-started" href="country" id="next">Start</a>
        </p>



      </div>

    </div>

  </div>

</main>

{% endblock %}
