{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h1 class="heading-xlarge">Check what help you could get to pay for NHS costs</h1>
        </div>
        <br>
        <p>Although most NHS treatments are free, you may still have to pay for some things like prescriptions, going to the dentist or opticians.</p>
<!--                       <p>There are lots of different ways to get help paying for these costs, depending on your circumstances.</p>-->

                 <p class="intro-to-list">
                   Check if you are eligible for help with:</p>
 <ul class="list-bullet">
    <li>
        NHS prescriptions
    </li>
    <li>
        NHS dental treatment
    </li>
    <li>
        NHS sight tests
    </li>
    <li>
        NHS wigs
    </li>
    <li>
        fabric supports, things like surgical bras, support tights and spinal supports.
    </li>
    <li>
        new glasses or contact lenses
    </li>
    <li>
        repairing or replacing your glasses or contact lenses
    </li>
    <li>
        travelling for NHS treatment
    </li>
      </ul>




<div class="panel panel-border-narrow" style="padding:0.5rem 2rem 1rem 1rem; margin-bottom:2rem">
        <p class="heading-small">It should take around 5 minutes. </p>
      </div>

        <p>
          <a class="button button-get-started" href="country" id="next">Start</a>
        </p>



      </div>

    </div>

  </div>

</main>

{% endblock %}
