{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">

 <link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/static-e1e11ad57c8a7361936104224105925210f49595729e18f540d08fb7a4f168e5.css">

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/static-print-eda4da06b5f49546c74c228ba38eae74091c967533f98de1a5073726c38748d6.css">

  <link title="Search" rel="search" type="application/opensearchdescription+xml" href="/search/opensearch.xml">
<link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/frontend/application-a559d90861a89ed9111226efc8c32096233d5540d3ecd7ee25708910b03e4f2b.css">
<link rel="alternate" type="application/json" href="/api/search.json?q=filter%20search">



<main id="content" role="main" class="group search">
  <form action="" method="get" accept-charset="utf-8" role="search" class="js-live-search-form">
<fieldset>

    <div id="results" class="js-live-search-results-block">
      <div aria-live="assertive" class="js-aria-live-count visuallyhidden">213 found</div>
        <div class="filter-form">
    <div class="inner-block">
      <p class="info">Filter by:</p>

        <div class="filter checkbox-filter js-openable-filter closed" tabindex="0">

          <div class="head">
            <span class="legend">Organisations</span>
            <div class="controls">
              <a class="clear-selected  js-hidden">Remove filters</a>
              <div class="toggle"></div>
            </div>
          </div>
          <div class="checkbox-container" id="organisations-filter">


            <ul>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="department-for-education" id="department-for-education">
                  <label for="department-for-education">Department for Education (69)</label>
                </li>
                <li>
                  <input type="checkbox" name="filter_organisations[]" value="hm-revenue-customs" id="hm-revenue-customs">
                  <label for="hm-revenue-customs">HM Revenue &amp; Customs (27)</label>
                </li>
                             <li>
                  <input type="checkbox" name="filter_organisations[]" value="hm-revenue-customs" id="hm-revenue-customs">
                  <label for="hm-revenue-customs">HM Revenue &amp; Customs (27)</label>
                </li>



            </ul>
          </div>
        </div>
    </div>
  </div>

    </div>
    </fieldset>
  </form>
</main>


{% endblock %}

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#speed" ).selectmenu();
  </script>

        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js"></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.11.3-c40d54aaf7339842749de8469b5b8915b886b5e67cd218d48a780cc2f2471853.js"></script>
<script src="https://assets.publishing.service.gov.uk/static/application-dc8799e6e985a2f4c2c3f33f301725bd589f5fc0e58534d9ee6a5af79991ba92.js"></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/frontend/frontend-f9972d46d17559a35b17f595445bc50aa257860c198c500a242d2120278a0a31.js"></script>





