 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<style>
.import-panel {
    font-weight: bold;
    padding: 20px 0px 10px 40px;
    background: url("/public/images/icon-information.png") no-repeat scroll 0px center;
    }
    .form-hint-list-item--valid{
    color:black;
    }
    .tax-cred-img{
    float: left;
    margin-right: 5px;
     background: url("/public/images/tax-cert.png") -71px 0;
    width: 21px;
    height: 21px;
}
    .container {
    width: 200px;
    height: 120px;
    padding-bottom:25px;
}

/* resize images */
.container img {
    width: 100%;
    height: auto;
}
</style>



<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
      <span class="heading-secondary">Based on what you've told us:</span>
      <br>You get full help with health costs</h1>

        <p class="intro-to-list">Because you get {{tctype}} and have a family income of less than £15,276; <br>you, your partner and any children under 20 included on your claim get free:</p>

       <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS Sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
        </ul>

         <p class="intro-to-list">
           They'll also get help towards the cost of:
        <ul>
                <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>
        </ul>
            <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing their glasses or contact lenses
    </li>
        </ul>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        travel to receive NHS treatment
    </li>
        </ul>

<br>

<h2 class="heading-medium">Proving you don't have to pay</h2>

    <p>You may have to show proof that you get tax credits.</p>
    <h3 class="heading-small">What you can use as proof</h3>
    <ul class="list-bullet">
    <li>your tax credit exemption certificate. This is a small plastic card which should have been sent to you and lasts up to 7 months</li>
    <div class="container">

<img src="/public/images/tc-excard.svg" alt="what the tax credit exemption certificate looks like" />
</div>
    <li>or, your latest tax credit award notice</li>
    </ul>



      </div>
      </div>




    </div>

</main>


{% endblock %}

