 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

<!--
{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}
-->

{% block content %}


<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

    <h2 class="heading-large">What is your date of birth?</h2>

      <form action="dob-2-handler" method="get" class="form">

     <div class="form-item-wrapper">
<fieldset>


        <p class="form-hint">For example 31 7 1961</p>

      <div class="inline-form-groups">
        <div class="form-group">
          <label class="form-label" for="dob-day">Day</label>
          <input class="form-control form-control-2-chars" id="dob-day" min="0" max="31" type="number">
        </div>
        <div class="form-group">
          <label class="form-label" for="dob-month">Month</label>
          <input class="form-control form-control-2-chars" id="dob-month" min="0" max="12" type="number">
        </div>
        <div class="form-group">
          <label class="form-label" for="dobyear">Year</label>
          <input class="form-control form-control-4-chars" id="dobyear" name="dobyear" min="0" type="number">
        </div>
      </div>
    </fieldset>
      </div>


    {{
      form_macros.button({
        label: 'Next'
      })
    }}

        </form>

<br>

        <article class="panel panel--binary" style="border-top: 2px solid #b9d2dc; padding:1.2em 0 1.2em 0">
<!--

dos
-->
  <div class="column-half dodont hidden" id="get">
    <div class="panel__content">
        <h2 class="heading-medium">You get free:</h2>
<ul class="form-hint-list">
    <li class="form-hint-list-item  form-hint-list-item--valid hidden" id="pres">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions
    </li>

    <li class="form-hint-list-item  form-hint-list-item--valid hidden" id="presScot">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions<br>
        <span style="color:black">As long as you have:
          <ul class="list-bullet" style="padding-left:0px">
              <li>a GP in Scotland or Wales and</li>
              <li>the prescription is dispensed by a pharmacist in Scotland or Wales.</li>
          </ul>
    </span>
    </li>


    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="stest">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS Sight test
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="specs">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Glasses or contact lenses
    </li>

            <li class="form-hint-list-item form-hint-list-item--valid hidden" id="wigs">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS wigs
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="trav">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Travel for treatment
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="dexam" >
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS dental exam
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="dtreat">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS dental treatment
    </li>

</ul>
    </div>
  </div>

<!--do nots-->

  <div class="column-half dodont " id="not">
    <div class="panel__content">
        <h2 class="heading-medium">You do not get free:</h2>
        <ul class="form-hint-list">
    <li class="form-hint-list-item  form-hint-list-item--false" id="presNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions
    </li>
    <li class="form-hint-list-item  form-hint-list-item--valid hidden" id="presScot">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions<br>
        <span style="color:black">As long as you have:
          <ul class="list-bullet" style="padding-left:0px">
              <li>a GP in Scotland or Wales and</li>
              <li>the prescription is dispensed by a pharmacist in Scotland or Wales.</li>
          </ul>
    </span>
    </li>

        <li class="form-hint-list-item form-hint-list-item--false" id="stestNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS Sight test
    </li>

    <li class="form-hint-list-item form-hint-list-item--false" id="specsNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Glasses or contact lenses
    </li>


                <li class="form-hint-list-item form-hint-list-item--false" id="wigsNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS wigs
    </li>


        <li class="form-hint-list-item form-hint-list-item--false" id="travNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Travel for treatment
    </li>


        <li class="form-hint-list-item form-hint-list-item--false" id="dexamNeg" >
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS dental exam
    </li>


        <li class="form-hint-list-item form-hint-list-item--false" id="dtreatNeg">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS dental treatment
    </li>
</ul>
    </div>
  </div>
</article>
     </div>





      </div>

    </div>
    </div>

</main>



</main>



<script>

$("#dobyear").keyup(function(){
    // var age = $('#age');

    if ( $("#dobyear").val().length === 4) { // if age
      console.log('whoohoo!');
        var age = (2016 - $("#dobyear").val() );
      console.log( age) ;
    if (age <= 15) {
        $('#get, #pres, #stest, #specs, #dtreat, #dexam, #wigs, #trav').removeClass('hidden');
        $('#not, #presNeg, #stestNeg, #specsNeg, #dtreatNeg, #dexamNeg, #wigsNeg, #travNeg').addClass('hidden');
    } else if (age <= 17) {
        $('#get, #not, #dexam, #dtreat, #presNeg, #stestNeg, specsNeg, #wigsNeg, #travNeg').removeClass('hidden');
        $('#dexamNeg, #dtreatNeg').addClass('hidden');
    } else if (age >= 60) {
        //shows
        $('#get, #not, #pres, #stest, #specsNeg, #dtreatNeg, #wigsNeg, #travNeg').removeClass('hidden');
        //Hides
        $('#presNeg, #stestNeg, #specs, #dtreat, #wigs, #trav').addClass('hidden');
    }
   }
  });


// tax credits
// 18 - 60

 //    hide id 'specs', 'dtreat', 'wigs', 'trav'.
// if (applicant.age >= 60 && applicant.country === 'scotland' || 'wales') show 'dexam'
// if (applicant.age >= 60 && applicant.country === 'england') show 'dexamNeg'
// if (applicant.age <= 16) show id 'pres', 'stest', 'specs', 'dtreat' 'dexam', 'wigs', 'trav'.
// if (applicant.age >= 60) show id 'pres', 'stest', 'specsNeg', 'dtreatNeg', 'wigsNeg', 'travNeg'.
 //    hide id 'specs', 'dtreat', 'wigs', 'trav'.
  // };
</script>

<!--
    // dob-2-handler
// if (age <= 16) show id 'pres', 'stest', 'specs', 'dtreat' 'dexam', 'wigs', 'trav'.
// if (applicant.age >= 60) show id 'pres', 'stest', 'specsNeg', 'dtreatNeg', 'wigsNeg', 'travNeg'.
 //    hide id 'specs', 'dtreat', 'wigs', 'trav'.
// if (applicant.age >= 60 && applicant.country === 'scotland' || 'wales') show 'dexam'
// if (applicant.age >= 60 && applicant.country === 'england') show 'dexamNeg'
// if (applicant.age <= 16) show id 'pres', 'stest', 'specs', 'dtreat' 'dexam', 'wigs', 'trav'.
// if (applicant.age >= 60) show id 'pres', 'stest', 'specsNeg', 'dtreatNeg', 'wigsNeg', 'travNeg'.
 //    hide id 'specs', 'dtreat', 'wigs', 'trav'.
-->


<!--
<script>
$("#scotland").click(function(){
    $("#get").removeClass("hidden");
}); </script>
<script>
$("#england").click(function(){
    $("#get").addClass("hidden");
}); </script>
<script>
$("#wales").click(function(){
    $("#get").removeClass("hidden");
}); </script>
<script>
$("#scotland").click(function(){
    $("#not").removeClass("hidden");
}); </script>
<script>
$("#england").click(function(){
    $("#not").removeClass("hidden");
}); </script>
<script>
$("#wales").click(function(){
    $("#not").removeClass("hidden");
}); </script>



<script>
$("#scotland").click(function(){
    $("#pres").removeClass("hidden");
    $("#presNeg").addClass("hidden");
    $("#stestNeg").removeClass("hidden");
    $("#specsNeg").removeClass("hidden");
    $("#wigsNeg").removeClass("hidden");
    $("#travNeg").removeClass("hidden");
    $("#dexamNeg").removeClass("hidden");
    $("#dtreatNeg").removeClass("hidden");
}); </script>
<script>
$("#england").click(function(){
    $("#pres").addClass("hidden");
    $("#presNeg").removeClass("hidden");
    $("#stestNeg").removeClass("hidden");
    $("#specsNeg").removeClass("hidden");
    $("#wigsNeg").removeClass("hidden");
    $("#travNeg").removeClass("hidden");
    $("#dexamNeg").removeClass("hidden");
    $("#dtreatNeg").removeClass("hidden");
}); </script>
<script>
$("#wales").click(function(){
    $("#pres").removeClass("hidden");
    $("#presNeg").addClass("hidden");
    $("#stestNeg").removeClass("hidden");
    $("#specsNeg").removeClass("hidden");
    $("#wigsNeg").removeClass("hidden");
    $("#travNeg").removeClass("hidden");
    $("#dexamNeg").removeClass("hidden");
    $("#dtreatNeg").removeClass("hidden");
}); </script>

-->

{% endblock %}










