 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-large">You get free dental check ups and treatment up until your childs first birthday</h1>

        <p>You will need to show proof of your pregnancy, or that you have had a baby in the past 12 months. You can show things like:</p>

        <ul class="list-bullet">
        <li>a valid maternity exemption card</li>
        <li>a MATB1 certificate issued by your midwife or GP</li>
        <li>your childs birth certificate</li>
        <li>a notification of birth form – the midwife who delivers your baby will give you this form</li>
<!--        <li>Your childs Personal Child Health Record (In england is is usually called the 'red book')</li>??? CLARIFY THIS ???-->
        </ul>

          <p>If you do not have a valid Maternity Exemption Card you can get an application form from your doctor, midwife or health visitor.</p>

      </div>
    </div>

    {{
        form_macros.button({
        classes: 'button-secondary-cta',
        href: '../condition-prescriptions',
        label: 'Find out about help for other costs'
      })
    }}

</main>


{% endblock %}
