 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}
<style>
 address {
    display: block;
    font-style: normal;
}
</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You get free prescriptions</h1>
        
        <p>NHS prescriptions are free of charge, as long as you have:</p>
        <ul class="list-bullet">
            <li>a GP in Wales and</li>
            <li>the prescription is dispensed by a pharmacist in Wales.</li>
        </ul>
        
        <h2 class="heading-medium">If you have a GP in England</h2>

        <p>If you live in Wales but your GP practice is in England, you are still able to get free prescriptions.</p>
        <p>You will need to show the pharmacist a valid entitlement card along with your prescription.</p>
    
     <h3 class="heading-medium">How to apply for an entitlement card</h3>

        <p>Your entitlement card should be sent to you automatically, but if not contact the Shared Services Partnership.</p>
        <address>
            <strong>Telephone</strong><br>
            <a href="tel:01495332000">01495 332000</a><br>
            <br>
            <strong>Post</strong><br>
            Shared Services Partnership<br>
            Cwmbran House<br>
            Mamhilad Park Estate<br>
            Pontypool<br>
            NP4 0XS
        </address>

    </div>

    </div>
    </div>

</main>


{% endblock %}
