#quickboxSurvey {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}
#background {
    background: #231f20;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.75;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=75); /* Required for IE8 and below only */
    z-index: 1000;
}
.popUpContent.survey {
    background: #fff;
    padding: 10px 20px;
    margin: 0 auto;
    width: 860px;
    color: #767676;
    position: relative;
}
.popUpContent.survey .logo {
	display: block;
	margin: -10px -20px 30px -20px;
}
.popUpContent.survey h2 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}
.survey .selection {
    margin-top: 20px;
    text-align: right;
    position: relative;
}
.survey a.close {
    font-size: 1em;
    color: #a19b9a;
}
.survey a.close:hover {
    color: #0066CC;
}
.survey button.close {
    cursor: pointer;
    margin-left: 10px;
    border: none;
    padding: 6px 30px;
    color: #fff;
    background-color: #a19b9a;
}
.survey button.close:hover {
    background-color: #b1b1b1;
}
.survey button.close.never {
    background-color: #0066CC;
}
.survey button.close.never:hover {
    background-color: #2c89e6;
}
