{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}
<style>.aside {
	z-index:10;
	border-bottom:1px solid #bbb;
	margin-bottom:1em;
	padding-bottom:1em;
	overflow:hidden
}
@media (min-width: 641px) {
	.aside {
		margin:0 0 2.5em
	}
}
@media (max-width: 640px) {
	.aside {
		width:auto;
		overflow:hidden;
		border-bottom:none;
		padding-bottom:0;
		margin-left:0
	}
}
 a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("/public/images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
    a.back-to-top:hover {
    background-color: #000;
 </style>

<main id="content" role="main">
   <link rel="stylesheet" href="/public/stylesheets/pagination.css">
   <link rel=”stylesheet” id=”font-awesome-css” href=”//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css” type=”text/css” media=”screen”>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

<div class="aside">

    <div class="column-one-half">

      <ul class="navigation-links">
        <li>1. Overview </li>
        <li>2. <a href="u16">Children and young people</a></li>
        <li>3. <a href="60">Pensioners</a></li>
        <li>4. <a href="benefits">Getting benefits or tax credits</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li>5. <a href="lis">Employed or self employed</a></li>
        <li>6. <a href="matex">Pregnant or had a baby recently</a></li>
        <li>7. <a href="medex">Long term illness</a></li>
      </ul>
    </div>
  </div>
    </div>
    </div>


  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">Help for people aged 19</h2>
        </div>

         <h3 class="heading-small">If you live in Scotland</h3>

        <p>If you are aged 19 and you live in Scotland, you are entitled to:</p>
        <ul class="list list-bullet">
          <li>Free NHS prescriptions</li>
          <li>Free sight test</li>
          <li>Free NHS dental check ups</li>
        </ul>

        <h3 class="heading-small">If you live in Wales</h3>

        <p>If you are aged 19 and you live in Wales, you are entitled to:</p>
        <ul class="list list-bullet">
          <li>Free NHS prescriptions</li>
          <li>Free NHS dental check ups</li>
        </ul>


        <h3 class="heading-small">Those in full time education</h3>


        <p>If you are aged 19 and in full time education, you <strong>do not</strong> get help with health costs, unless:</p>
        <ul class="list list-bullet">
            <li>Your parents or guardian have a Tax Credits Exemption Certificate and are receiving a Child Tax Credit payment for you.</li>
             <li>Your parents or guardian are in receipt of:</li>
            <p class="panel-indent-body">
   Income Support,<br>
    Universal Credit,<br>
    Income based Job Seekers Allowance,<br>
    Income related Employment and Support Allowance, or<br>
    Pension Credit Guarantee Credit.
       </p>

        </ul>
                       <p><a class="button button-get-started" href="../../start">Help me work out if I can get help with health costs</a></p>
        </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="18">
                      <span class="pagination-label">Previous</span>
                      <span class="pagination-part-title">Help for people aged 16, 17 or 18</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="60">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Help for people aged over 60</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>

{% endblock %}
