{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}
<style>.aside {
	z-index:10;
	border-bottom:1px solid #bbb;
	margin-bottom:1em;
	padding-bottom:1em;
	overflow:hidden
}
@media (min-width: 641px) {
	.aside {
		margin:0 0 2.5em
	}
}
@media (max-width: 640px) {
	.aside {
		width:auto;
		overflow:hidden;
		border-bottom:none;
		padding-bottom:0;
		margin-left:0
	}
}
 a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("/public/images/up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
    a.back-to-top:hover {
    background-color: #000;
 </style>

<main id="content" role="main">
   <link rel="stylesheet" href="/public/stylesheets/pagination.css">
   <link rel=”stylesheet” id=”font-awesome-css” href=”//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css” type=”text/css” media=”screen”>

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

<div class="aside">

    <div class="column-one-half">

      <ul class="navigation-links">
        <li>1. Overview </li>
        <li>2. <a href="u16">Children and young people</a></li>
        <li>3. <a href="60">Pensioners</a></li>
        <li>4. <a href="benefits">Getting benefits or tax credits</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li>5. <a href="lis">Employed or self employed</a></li>
        <li>6. <a href="matex">Pregnant or had a baby recently</a></li>
        <li>7. <a href="medex">Long term illness</a></li>
      </ul>
    </div>
  </div>
    </div>
    </div>


  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">Help for people aged 60 and over</h2>
        </div>

        <p>You get free:</p>
        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS sight tests</li>
          <li style="list-style-type:none">and</li>
          <li>NHS dental check-ups, if you live in Scotland or Wales.</li>
        </ul><br>

         <h3 class="headin-small">If you get Pension Credit Guarantee Credit</h3>
         <p>You get free:</p>
        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS dental treatment for any course of treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>
        </ul>
        <p>You also:</p>
        <ul class="list list-bullet">
        <li>Get help towards the cost of glasses or contact lenses</li>
          <li>May get help towards the cost of repair or replacement of glasses or contact lenses</li>
          <li>May get help with travel costs for NHS treatment.</li>
        </ul>

        <div class="additional-info-no-image">
        <h3 class="heading-medium">You could still get help with your health costs</h3>
        <p>You do not have to get benefits to get help. If after your housing costs, you, your partner, or you both have less than:</p>
<ul>
    <li>£16,000 in savings, investments or properties – not including where you live</li>
    <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
    </ul>
    <a href="lis">Help for people who have little money to live on</a>
 </div>
        <br>

        <p><a class="button button-get-started" href="../../start">Help me work out if I can get help with health costs</a></p>

      </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="19">
                      <span class="pagination-label">Previous</span>
                      <span class="pagination-part-title">Help for people aged 19</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="benefits">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Help for people who get benefits</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>

{% endblock %}
