{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">
  <link rel="stylesheet" href="/public/stylesheets/pagination.css">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="start">1. Introduction to help with health costs</a></li>
        <li><a href="u16">2. people aged under 16</a></li>
        <li><a href="18">3. people aged 16, 17 or 18</a></li>
        <li><a href="19">4. people aged 19</a></li>
        <li><a href="60">5. people aged 60 or over</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="benefits">6. people who get benefits or tax credits</a></li>
        <li><a href="medex">7. people who have a long term medical condition</a></li>
        <li><a href="matex">8. people who are pregnant or have had a baby in the last twelve months</a></li>
        <li>9. people who have little money to live on</li>
        <li><a href="ppc">10. people with regular prescriptions</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">The low income scheme</h2>
        </div>


        <h2 class="heading-small">If you need to apply for help</h2>

        <p>You could get help with your health costs if, after your housing costs, you, your partner, or you both have less than:</p>

        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>

        <p>You could get help towards your, your partner’s and your children’s:</p>

        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS dental treatment</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>NHS wigs and fabric supports</li>
          <li>travel to receive NHS treatment if you were referred by a GP, hospital doctor, dentist or optician</li>
        </ul>

        <p>You can apply at any time. Do not wait until you need treatment.</p>

        <p>
          <a class="button button-get-started" href="http://localhost:3000/lis/8/start" id="next">Start a new application</a>
        </p>


      </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="matex">
                      <span class="pagination-label">Previous</span>
                      <span class="pagination-part-title">Help for people who are pregnant or have had a baby in the last 12 months</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="ppc">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Help for people with regular prescriptions</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>

{% endblock %}
