{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<style>
    .hint-text{
        font-size: 90%;
    }

    .panel-indent-body {
    clear: both;
    border-left: 6px solid #dee0e2;
        padding: 0.5rem 1rem 0.5rem 1rem;}
</style>

<main id="content" role="main">
  <link rel="stylesheet" href="/public/stylesheets/pagination.css">

  <div class="grid-row">

    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>

    </div>

  <div class="column-one-half">

      <ul class="navigation-links">
        <li>Help with health costs overview </li>
        <li><a href="u16">Children and young people</a></li>
        <li><a href="60">Pensioners</a></li>
        <li><a href="benefits">Getting benefits or tax credits</a></li>
        <li><a href="lis">Employed or self employed</a></li>
      </ul>

    </div>

    <div class="column-one-half">

      <ul class="navigation-links">
        <li><a href="matex">Pregnant or have had a baby recently</a></li>
        <li><a href="medex">Long term illness</a></li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">Save money on multiple prescriptons</h2>
        </div>
<!--        <p>The current cost of a prescription in England is <strong>£8.40</strong>.<br>-->
           If you often get more than one prescription a month, you could save money with a Prescription Prepayment Certificate.
        </p>
        <ul>
           <li>A three month certificate is £29.10<br>
           <span class="hint-text">It could save you money if you need more than 3 prescribed items in 3 months.</span></li>
           <li>A yearly certificate is £104.00<br>
           <span class="hint-text">It could save you money if you need more than 12 prescribed items in a year.</span></li>

           <p class="panel-indent-body">To spread the cost, yearly Prescription Prepayment Certificates can be paid for by 10 monthly direct debit instalments of £10.40.</p>
        </ul>


        <h2 class="heading-medium">How much could you save</h2>
         <table>
         <thread>
          <tr>
            <th>Number of prescriptions per month</th>
            <th>Savings with a 12 month certificate</th>
            <th>Savings with a 3 month certificate</th>
          </tr>
          </thread>
          <tbody>
          <tr>
            <td class="td">2</td>
            <td>£95 a year</td>
            <td>£20 in 3 months</td>
          </tr>
          <tr>
            <td>3</td>
            <td>£195 a year</td>
            <td>£45 in 3 months</td>
          </tr>
          <tr>
            <td>4</td>
            <td>£295 a year</td>
            <td>£70 in 3 months</td>
          </tr>
          </tbody>
        </table>

<br>
        <p><a class="button button-get-started" href="https://apps.nhsbsa.nhs.uk/ppcwebsales/patient.do" id="next">Buy a certificate</a></p>



      </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="lis">
                      <span class="pagination-label">Previous</span>
                      <span class="pagination-part-title">Help for people who have little money to live on</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>

{% endblock %}
