 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <!-- <p class="navigation"><a class="back-to-previous">Back</a></p> -->

  <h1 class="heading-large">
    About you
  </h1>

  <form action="" method="get" class="form">

    {{
      form_macros.text_field({
        id: 'firstname',
        label: 'First name'
      })
    }}

    {{
      form_macros.text_field({
        id: 'lastname',
        label: 'Last name'
      })
    }}

    {{
      form_macros.date_field({
        label: 'Date of birth',
        hint_date: '31 7 1961',
        id_prefix: 'dob-'
      })
    }}

    {{
      form_macros.button({
        label: 'Save and continue',
        href: 'contact'
      })
    }}
    <p class="navigation"><a class="cancel" href="../lis-home">Save and come back later</a></p>
  </form>
    </div>
    </div>
</main>

{% endblock %}
