 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}


<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>


  <div class="grid-row">
    <div class="column-two-thirds">
   <!--1B- lives in the UK-->
    <h2 class="heading-large">Which country do you live in?</h2>

  <form action="country-2-handler" method="get" class="form">

    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="englandBeta" name="countryBeta" value="englandBeta">
        <label class="form-control-radio" for="englandBeta">
          England
        </label>
      </div>

      <div class="form-group">
        <input type="radio" id="scotlandBeta" name="countryBeta" value="scotlandBeta">
        <label class="form-control-radio" for="scotlandBeta">
          Scotland
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="walesBeta" name="countryBeta" value="walesBeta">
        <label class="form-control-radio" for="walesBeta">
          Wales
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="northernIrelandBeta" name="countryBeta" value="northernIrelandBeta">
        <label class="form-control-radio" for="northernIrelandBeta">
          Northern Ireland
        </label>

      </div>
      </div>


    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
      </div>

    </div>

</main>

{% endblock %}







