 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Help with health costs if you have little money to live on
  </h1>

<article class="panel">
  <header class="panel__header">...</footer>
  <div class="panel__content">...</div>
</article>
  <form action="eligibility-handler" method="get" class="form">
        <p>
          <a class="button button-get-started" href="http://localhost:3000/lis/8/need-to-know" id="next">Start a new application</a>
        </p>

  </form>
    </div>
    </div>
</main>

{% endblock %}
