{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h1 class="heading-xlarge">Find out if you can get help with health costs</h1>
        </div>
        <br>
        <p>There are lots of different types of help with health costs, depending on your circumstances.</p>
          <p>Use this checker to see what help is available and how to get it.</p>
          <p>It takes about 5 minutes to use.</p>


<div class="panel-indent claim-ref">
        <p class="heading-small">This checker is only a guide. You'll still have to apply to find out for certain if you're eligible and how much help you'll get.</p>
      </div>

        <p>
          <a class="button button-get-started" href="country" id="next">Start</a>
        </p>



      </div>

    </div>

  </div>

</main>

{% endblock %}
