 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

<!--
{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}
-->

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You get full help with health costs</h1>

        <p class="intro-to-list">
          Anyone who gets {{tctype}} gets free:
        </p>
        <ul class="list list-bullet">
          <li>NHS prescriptions </li>
          <li>NHS dental treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>
        </ul>

                <p class="intro-to-list">
          They'll also get help towards the cost of:
        </p>
        <ul class="list list-bullet">
          <li>new glasses or contact lenses</li>
          <li>repairing or replacing your glasses or contact lenses</li>
          <li>travelling for NHS treatment</li>
        </ul>


          <h3 class="heading-medium">What you'll need as proof</h3>

          <p>Your exemption card should have been sent automatically.
          <br>If you've lost it, you can use the tax credit award notice as proof.</p>


  <div class="fanny-on">
<img src="/public/images/tax-cert.png" alt="what a NHS Tax Credit Exemption Certificate looks like">

  </div>



<!--       {{
        form_macros.button({
          classes: 'button-secondary-cta',
          href: '#',
          label: 'What you need to do to get help'
        })
      }} -->

    </div>

    </div>
    </div>

</main>


{% endblock %}
