{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS Help with Health Costs{% endblock %}

{% block content %}

<style>
    .tag.beta {
    background-color: #f47738;
}
.tag {
    color: white !important;
    font-weight: 700;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
    .tag.alpha {
    background-color: #d53880;
    }
    .dates{
      font-size: 19px;
      font-weight: 400;
      line-height: 0.5em;
    }
</style>

<main id="content" role="main">
  <h1 class="heading-xlarge">Help with health costs</h1>

  <h2 class="heading-large">Epic user need</h2>
  <div class="grid-row">
  <div class="column-two-thirds">
  
  <blockquote>
    <strong>As someone</strong> who doesn't know what my health costs are,<br>
    <strong>I need</strong> to get the help I am entitled to,<br>
    <strong>so that</strong> I can get the healthcare that I need.
  </blockquote>
  
  <hr>

    <h2 class="heading-large">Personas</h2>
    <h3 class="heading-small"><span class="strong"><a href="/public/images/Persona-pam.pdf">Key persona 1</a>
    <br>Paniky Pam: "I'm not sure" (active)</span></h3>

    <h3 class="heading-small"><span class="strong"><a href="/public/images/persona-dave.pdf">Persona 2:</a>
    <br> Disengaged Dave: "Pfffft! I don't know" (passive)</span></h3>

    <h3 class="heading-small"><span class="strong"><a href="/public/images/Persona-connie.pdf">Persona 3:</a>
    <br> Confident Connie: "I know" (passive)</span></h3>
    <br>
    <hr>
<h2 class="heading-medium">
<a href="sprints/b4/start.html">MVP Baseline</a></h2>
<h2 class="heading-medium">
<a href="sprints/b8/start.html">Scottish content</a></h2>
<hr>
  <h2 class="heading-large">Prototypes</h2>
  <div class="tag beta">Beta</div>
             <ul>
    <li class="heading-medium"><a href="/sprintb6">Current- Sprint 6</a><br>
    <span class="dates">31 January 2017 to 13 February</li>
      <li class="heading-medium"><a href="/sprintb5">Sprint 5</a><br>
<span class="dates">17 January 2017 to 30 January</span></li>
      <li class="heading-medium"><a href="/sprintb4">Sprint 4</a><br>
 <span class="dates">3 January 2017 to 16 January</span></li>

      <li class="heading-medium"><a href="/sprintb3">Sprint 3</a><br>
<span class="dates">13 December 2016 to 30 December</span></li>

      <li class="heading-medium"><a href="/sprintb2">Sprint 2</a><br>
<span class="dates">29 November 2016 to 12 December 2016</span></li>
 
      <li class="heading-medium"><a href="/sprintb1">Sprint 1</a><br>
<span class="dates">15 November 2016 to 28 November</span></li>
  </ul>

<div class="tag alpha">Alpha</div>
  <ul>
      <li class="heading-medium"><a href="/sprint8">Sprint 8</a></li>
    <li>Created 19 September 2016</li>
  </ul>
</main>

{% endblock %}
