{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS Help with Health Costs{% endblock %}

{% block content %}

<style>

</style>

<main id="content" role="main">
  <h1 class="heading-xlarge">Help with health costs</h1>

  <h2 class="heading-large">Epic user need</h2>
  <div class="grid-row">
  <div class="column-two-thirds">
  
  <blockquote>
    <strong>As someone</strong> who does not have a lot of money,<br>
    <strong>I need</strong> help to pay for my healthcare,<br>
    <strong>so that</strong> I can get the healthcare that I need.
  </blockquote>
  
  <hr>

  <h2 class="heading-large">Prototypes</h2>

  <ul>
    <li class="heading-medium">Current sprint - 8</li>
    <li>Created 19 September 2016</li>
    <li><a href="/sprint8">View</a></li>
  </ul>
  <hr>
</main>

{% endblock %}
