{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS Help with Health Costs{% endblock %}

{% block content %}

<style>
    .tag.beta {
    background-color: #f47738;
}
.tag {
    color: white !important;
    font-weight: 700;
    padding: 0.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}
    .tag.alpha {
    background-color: #d53880;
    }
</style>

<main id="content" role="main">
  <h1 class="heading-xlarge">Help with health costs</h1>

  <h2 class="heading-large">Epic user need</h2>
  <div class="grid-row">
  <div class="column-two-thirds">
  
  <blockquote>
    <strong>As someone</strong> who does not have a lot of money,<br>
    <strong>I need</strong> help to pay for my healthcare,<br>
    <strong>so that</strong> I can get the healthcare that I need.
  </blockquote>
  
  <hr>

  <h2 class="heading-large">Prototypes</h2>
<div class="tag alpha">Alpha</div>

    <ul>
      <li class="heading-medium"><a href="/sprintb2">Current- Sprint 2</a></li>
    <li>29 November 2016 to 12 December 2016</li>
  </ul>
  <ul>
      <li class="heading-medium"><a href="/sprintb1">Sprint 1</a></li>
    <li>15 November 2016 to 28 November</li>
  </ul>

  <div class="tag beta">Beta</div>
  <ul>
      <li class="heading-medium"><a href="/sprint8">Sprint 8</a></li>
    <li>Created 19 September 2016</li>
  </ul>
</main>

{% endblock %}
