{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}


<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help paying for NHS costs prototype</h1>

  <h2 class="heading-large">Beta sprint 4</h2>
  <p>3 January 2017 to 26 January</p>

    <h3><span style="font-weight: normal;
color: #667078">Interactive questionare pattern</span><br>
    <span class="strong">Eligibity checker- England only, refined content</span> </h3>

    <p>
          <a class="button button-get-started" href="/sprints/b4/start" id="next">Start</a>
        </p>

</main>

{% endblock %}
