{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}


<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs prototype</h1>

  <h2 class="heading-large">Beta sprint 3</h2>
  <p>13 December 2016 to 27 Decemeber</p>

    <h3><span style="font-weight: normal;
color: #667078">Interactive questionare pattern</span><br>
    <span class="strong">Eligibity checker- England only- without data</span> </h3>
    <h3><span class="strong"><a href="/sprints/b3/start">Start</a></span></h3><br>

    <div class="grid-row">
  <div class="column-two-thirds">
  <h3><span class="strong">Key findings: </span> </h3>

  <ul class="list list-bullet">
    <li>Didn't read the NHS BSA content</li>
    <li>Didn't understand the 'tax credits exemption card' question</li>
    <li>Searched via benefit type for Universal credits only</li>
    <li>Didn't understand the difference between income based vs contribution based benefits</li>
  </ul>
  <br>
    <h3><span class="strong">Next research: </span> </h3>

  <ul class="list list-bullet">
    <li>Device testing</li>
    <li>Content with mothers around loss of a baby</li>
  </ul>
</div>
 </div>

</main>

{% endblock %}
