{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}


<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs prototype</h1>

  <h2 class="heading-large">Alpha sprint 8</h2>
  <p>Created 19 September 2016</p>
  
      <h3><span class="strong">Eligibity checker</span> </h3>
    <h3><span class="strong"><a href="/sprints/8/start">Start</a></span></h3>
    <br>
<!--
<details>
  <summary><span class="summary">Full list of pages</span></summary>

  <div class="panel panel-border-narrow">
 <ul class="list-bullet">
    <li><a href="/sprints/8/start">Start page</a></li>
    <li><a href="/sprints/8/condition">Treatment type</a></li>
    <li><a href="/sprints/8/country_v2">Country</a></li>
    <li><a href="/sprints/8/border-gp">Border GP</a></li>
    <li><a href="/sprints/8/date-of-birth">Date of Birth</a></li>
    <li><a href="/sprints/8/full-time-education">Full time education</a></li>
    <li><a href="/sprints/8/tax-credits-19yo">Tax Credits</a></li>
        <li><a href="/sprints/8/start">Start page</a></li>
    <li><a href="/sprints/8/condition">Treatment type</a></li>
    <li><a href="/sprints/8/country_v2">Country</a></li>
    <li><a href="/sprints/8/border-gp">Border GP</a></li>
    <li><a href="/sprints/8/date-of-birth">Date of Birth</a></li>
    <li><a href="/sprints/8/full-time-education">Full time education</a></li>
    <li><a href="/sprints/8/tax-credits-19yo">Tax Credits</a></li>
  </ul>


  </div>

</details>
   <br>
-->

    <h3><span class="strong">NHS.UK content</span> </h3>
    <h3><span class="strong"><a href="/sprints/8/hwhc/v1/start">Age & condition headers</a></span></h3>

    <br>
        <h3><span class="strong">NHS.UK content</span> </h3>
    <h3><span class="strong"><a href="/sprints/8/hwhc/v3/start">Situational header</a></span></h3>

        <br>
        <h3><span class="strong">NHSBSA branding</span> </h3>
        <h3><span class="strong"><a href="/sprints/8/hwhc/v3/start_bsa_with_swish">NHSBSA branding- full logo</a></span></h3>
    <h3><span class="strong"><a href="/sprints/8/hwhc/v3/start_bsa_noswish">NHSBA branding- small logo</a></span></h3>
    <h3><span class="strong"><a href="/sprints/8/hwhc/v3/start_bsa">NHS.UK & alternative NHSBA branding</a></span></h3>
    <br>

    <div class="grid-row">
  <div class="column-two-thirds">
  <h3><span class="strong">Key findings: </span> </h3>

  <ul class="list list-bullet">
    <li>Didn't read/ click through the age and condition headers</li>
    <li>Didn't understand after going into LIS section that it was the application</li>
    <li>Still wanted the 'magic figure' of earnings</li>
  </ul>
</div>
 </div>
  
</main>

{% endblock %}
