{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<style>
    .persona-link{
        line-height: 2em;
    }</style>

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs prototype</h1>

  <h2 class="heading-large">Alpha sprint 8</h2>
  <p>Created 19 September 2016</p>
  
  <ul>
    <li><a href="/sprints/8/start">Start page</a></li>
    <li><a href="/sprints/8/condition">Treatment type</a></li>
    <li><a href="/sprints/8/country_v2">Country</a></li>
    <li><a href="/sprints/8/border-gp">Border GP</a></li>
    <li><a href="/sprints/8/date-of-birth">Date of Birth</a></li>
    <li><a href="/sprints/8/full-time-education">Full time education</a></li>
    <li><a href="/sprints/8/tax-credits-19yo">Tax Credits</a></li>
  </ul>
  
  <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li></li>
  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>
  
  <ul class="list list-bullet">
    <li><a href="">UR findings go here</a></li>

  </ul>

  
</main>

{% endblock %}
