{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}


<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs prototype</h1>

  <h2 class="heading-large">Alpha sprint 9</h2>
  <p>Created 14 November 2016</p>

      <h3><span class="strong">Eligibity checker</span> </h3>
    <h3><span class="strong"><a href="/sprints/b1/prescription/start">Start</a></span></h3>
    <br>

    <h3><span class="strong">NHS.UK content</span> </h3>
    <h3><span class="strong"><a href="/sprints/8/hwhc/v3/start">Situational header</a></span></h3>

    <br>
    <div class="grid-row">
  <div class="column-two-thirds">
  <h3><span class="strong">Key findings: </span> </h3>

  <ul class="list list-bullet">
    <li>Didn't read/ click through the age and condition headers</li>
    <li>Didn't understand after going into LIS section that it was the application</li>
    <li>Still wanted the 'magic figure' of earnings</li>
  </ul>
  <br>
    <h3><span class="strong">Next research: </span> </h3>

  <ul class="list list-bullet">
    <li>Accessibility testing with screen readers</li>
    <li>Content with mothers around loss of a baby</li>
    <li>Users on non-income related benefits</li>
  </ul>
</div>
 </div>

</main>

{% endblock %}
