{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}


<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help paying for NHS costs prototype</h1>

  <h2 class="heading-large">Beta sprint 5</h2>
  <p>17 January 2017 to 30 January</p>

    <h3>
    <span class="strong">Eligibity checker</span> </h3>

    <p>
          <a class="button button-get-started" href="/sprints/b4/start" id="next">Start</a>
        </p>
<br>
         <div class="grid-row">
  <div class="column-two-thirds">
  <h3><span class="strong">Key findings: </span> </h3>

  <ul class="list list-bullet">
    <li>Didn't read the NHS BSA content</li>
    <li>Didn't understand the 'tax credits exemption card' question</li>
    <li>Searched via benefit type for Universal credits only</li>
    <li>Didn't understand the difference between income based vs contribution based benefits</li>
  </ul>
  <br>
    <h3><span class="strong">Next research: </span> </h3>

  <ul class="list list-bullet">
    <li>Device testing</li>
    <li>Content with mothers around loss of a baby</li>
  </ul>
</div>
 </div>

</main>

{% endblock %}
