{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<style>
    .persona-link{
        line-height: 2em;
    }</style>

<main id="content" role="main">
  <a class="back-link" href="index">Back </a>
  <h1 class="heading-xlarge">Help with health costs prototype</h1>

  <h2 class="heading-large">Alpha sprint 8</h2>
  <p>Created 19 September 2016</p>
  
  <ul>
    <li><a href="/sprints/8/start">Start page</a></li>
    <li><a href="/sprints/8/condition">Treatment type</a></li>
    <li><a href="/sprints/8/country_v2">Country</a></li>
    <li><a href="/sprints/8/border-gp">Border GP</a></li>
    <li><a href="/sprints/8/date-of-birth">Date of Birth</a></li>
    <li><a href="/sprints/8/full-time-education">Full time education</a></li>
    <li><a href="/sprints/8/tax-credits-19yo">Tax Credits</a></li>
  </ul>
  
  <br>
    <h3><span class="strong">NHS.UK content</span> </h3>
         <h3><span class="strong">age & condition headers</span> </h3>
      <ul>
    <li><a href="/sprints/8/hwhc/v1/start">Start page</a></li>
    <li><a href="/sprints/8/hwhc/v1/u16">Under 16</a></li>
    <li><a href="/sprints/8/hwhc/v1/18">16, 17 & 18 year olds</a></li>
    <li><a href="/sprints/8/hwhc/v1/19">19 year olds</a></li>
    <li><a href="sprints/8/hwhc/v1/60">Over 60</a></li>
     <li><a href="/sprints/8/hwhc/v1/benefits">Benefits and tax credits</a></li>
         <li><a href="/sprints/8/hwhc/v1/medex">Medical Exemption</a></li>
    <li><a href="/sprints/8/hwhc/v1/matex">Pregnanacy</a></li>
    <li><a href="/sprints/8/hwhc/v1/lis">Low income</a></li>
        <li><a href="/sprints/8/hwhc/v1/ppc">Regular prescriptions</a></li>
  </ul>
    <br>
        <h3><span class="strong">NHS.UK content</span> </h3>
         <h3><span class="strong">situational header</span> </h3>
      <ul>
    <li><a href="/sprints/8/hwhc/v2/start">Start page</a></li>
    <li><a href="/sprints/8/hwhc/v2/u16">Under 16</a></li>
    <li><a href="/sprints/8/hwhc/v2/18">16, 17 & 18 year olds</a></li>
    <li><a href="/sprints/8/hwhc/v2/19">19 year olds</a></li>
    <li><a href="sprints/8/hwhc/v2/60">Over 60</a></li>
     <li><a href="/sprints/8/hwhc/v2/benefits">Benefits and tax credits</a></li>
         <li><a href="/sprints/8/hwhc/v2/medex">Medical Exemption</a></li>
    <li><a href="/sprints/8/hwhc/v2/matex">Pregnanacy</a></li>
    <li><a href="/sprints/8/hwhc/v2/lis">Low income</a></li>
        <li><a href="/sprints/8/hwhc/v2/ppc">Regular prescriptions</a></li>
  </ul>
    <br>
  
  <h3><span class="strong">What we plan to test: </span> </h3>

  <ul class="list list-bullet">
    <li></li>
  </ul>

  <br>
  
  <h3><span class="strong">What we found: </span> </h3>
  
  <ul class="list list-bullet">
    <li><a href="">UR findings go here</a></li>

  </ul>

  
</main>

{% endblock %}
