{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<link rel="stylesheet" href="/public/stylesheets/pagination.css">
<link rel="stylesheet" href="/public/stylesheets/parent-navigation.css">
<style>
    .column-full {
    float: left;
    width: 100%;
    padding: 0 15px;
}

    </style>


<main id="content" role="main" class="multi-page">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>
      </div>
    </div>
<div class="grid-row">

  <div class="column-full">
      <div class="article-container group">


        <div class="content-block">
          <div class="inner">

            <aside>
              <div class="inner">
                <a href="#" id="showBtn" class="show-all-parts">Show all parts of this guide</a>

                  <a href="#" id="hideBtn" class="show-all-parts show-all-parts-open">Hide all parts of this guide</a>
                  <nav id="na" role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">

                    <ol>
                      <li>
                        <span class="part-number">1.</span>
                        <a title="Part 1: Introduction to help with health costs" href="start">Introduction to help with health costs</a>
                      </li>
                      <li>
                        <span class="part-number">2.</span>
                        <a title="Part 2: People aged 16 and under" href="u16">People aged 16 and under</a>
                      </li>
                      <li>
                        <span class="part-number">3.</span>
                        <a title="Part 3: People aged 16, 17 or 18" href="18">People aged 16, 17 or 18</a>
                      </li>
                      <li>
                        <span class="part-number">4.</span>
                        <a title="Part 4: People aged 19" href="19">People aged 19</a>
                      </li>
                      <li>
                        <span class="part-number">5.</span>
                        <a title="Part 5: People aged 60 or over" href="60">People aged 60 or over</a>
                      </li>

                      </ol>
                      <ol start="6">
                      <li class="active">
                        <span class="part-number">6.</span>
                        <a title="Part 6: People who get benefits or tax credits" href="benefits">People who get benefits or tax credits</a>
                      </li>
                      <li>
                        <span class="part-number">7.</span>
                        <a title="Part 7: People who have a long term medical condition" href="medex">People who have a long term medical condition</a>
                      </li>
                      <li>
                        <span class="part-number">8.</span>
                        <a title="Part 8: people who are pregnant or have had a baby in the last twelve months" href="matex">people who are pregnant or have had a baby in the last twelve months</a>
                      </li>
                      <li class="active">
                        <span class="part-number">9.</span>
                        <span>people who have little money to live on</span>
                      </li>
                    <li>
                        <span class="part-number">10.</span>
                        <a title="Part 8: people with regular prescriptions" href="ppc">people with regular prescriptions</a>
                      </li>

                    </ol>
                  </nav>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
        </div>

  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">The low income scheme</h2>
        </div>


        <h2 class="heading-small">If you need to apply for help</h2>

        <p>You could get help with your health costs if, after your housing costs, you, your partner, or you both have less than:</p>

        <ul class="list list-bullet">
          <li>£16,000 in savings, investments or properties – not including where you live</li>
          <li>£23,250 in savings, investments or properties if you permanently live in a care home</li>
        </ul>

        <p>You could get help towards your, your partner’s and your children’s:</p>

        <ul class="list list-bullet">
          <li>NHS prescriptions</li>
          <li>NHS dental treatment</li>
          <li>sight tests, glasses and contact lenses</li>
          <li>NHS wigs and fabric supports</li>
          <li>travel to receive NHS treatment if you were referred by a GP, hospital doctor, dentist or optician</li>
        </ul>

        <p>You can apply at any time. Do not wait until you need treatment.</p>

        <p>
          <a class="button button-get-started" href="http://localhost:3000/lis/8/start" id="next">Start a new application</a>
        </p>


      </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="previous">
                    <a title="Navigate to previous part" rel="prev" href="matex">
                      <span class="pagination-label">Previous</span>
                      <span class="pagination-part-title">Help for people who are pregnant or have had a baby in the last 12 months</span>
                    </a>
                  </li>
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="ppc">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">Help for people with regular prescriptions</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    var showBtn = $('#showBtn');
    var hideBtn = $('#hideBtn');
    var nav = $('#na');
    $(hideBtn).hide();

    $(hideBtn).click(function(){
        $(hideBtn).hide();
        $(showBtn).show();
        $(nav).toggleClass('page-navigation-closed');
    });

    $(showBtn).click(function(){
        $(showBtn).hide();
        $(hideBtn).show();
        $(nav).toggleClass('page-navigation-closed');
    });
});
</script>
{% endblock %}
