{% extends 'templates/nhs_transaction_layout.html' %}

{% block content %}

<link rel="stylesheet" href="/public/stylesheets/pagination.css">
<link rel="stylesheet" href="/public/stylesheets/parent-navigation.css">
<style>
    .column-full {
    float: left;
    width: 100%;
    padding: 0 15px;
}

    </style>


<main id="content" role="main" class="multi-page">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get help with health costs</h1>
      </div>
    </div>
<div class="grid-row">

  <div class="column-full">
      <div class="article-container group">


        <div class="content-block">
          <div class="inner">

            <aside>
              <div class="inner">
                <a href="#" id="showBtn" class="show-all-parts">Show all parts of this guide</a>

                  <a href="#" id="hideBtn" class="show-all-parts show-all-parts-open">Hide all parts of this guide</a>
                  <nav id="na" role="navigation" class="page-navigation page-navigation-closed" aria-label="parts to this guide">

                    <ol>
                      <li class="active">
                        <span class="part-number">1.</span>
                        <span>Introduction to help with health costs </span>
                      </li>
                      <li>
                        <span class="part-number">2.</span>
                        <a title="Part 2: People aged 16 and under" href="u16">People aged 16 and under</a>
                      </li>
                      <li>
                        <span class="part-number">3.</span>
                        <a title="Part 3: People aged 16, 17 or 18" href="18">People aged 16, 17 or 18</a>
                      </li>
                      <li>
                        <span class="part-number">4.</span>
                        <a title="Part 4: People aged 19" href="19">People aged 19</a>
                      </li>
                      <li>
                        <span class="part-number">5.</span>
                        <a title="Part 5: People aged 60 or over" href="60">People aged 60 or over</a>
                      </li>

                      </ol>
                      <ol start="6">
                      <li class="active">
                        <span class="part-number">6.</span>
                        <a title="Part 6: People who get benefits or tax credits" href="benefits">People who get benefits or tax credits</a>
                      </li>
                      <li>
                        <span class="part-number">7.</span>
                        <a title="Part 7: People who have a long term medical condition" href="medex">People who have a long term medical condition</a>
                      </li>
                      <li>
                        <span class="part-number">8.</span>
                        <a title="Part 8: people who are pregnant or have had a baby in the last twelve months" href="matex">people who are pregnant or have had a baby in the last twelve months</a>
                      </li>
                      <li>
                        <span class="part-number">9.</span>
                        <a title="Part 8: people who have little money to live on" href="lis">people who have little money to live on</a>
                      </li>
                    <li>
                        <span class="part-number">10.</span>
                        <a title="Part 8: people with regular prescriptions" href="ppc">people with regular prescriptions</a>
                      </li>

                    </ol>
                  </nav>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </div>
        </div>



  <div class="grid-row">

    <div class="column-two-thirds">

      <div class="text">

        <div class="heading-group">
          <h2 class="heading-medium">Introduction to help with health costs</h1>
        </div>

        <p>If you receive treatment in an NHS hospital this is usually free but there are a number of things which there may be charges for.</p>

        <p>You may be able to get help with:-</p>

        <ul class="list list-bullet">

          <li>prescription charges</li>
          <li>NHS dental charges, including check-ups</li>
          <li>sight tests</li>
          <li>the cost of glasses and contact lenses</li>
          <li>travel costs to and from hospital for NHS treatment</li>
          <li>travel costs if travelling abroad for treatment</li>
          <li>wigs</li>
          <li>fabric supports, for example support tights.</li>

        </ul>

        <p>You will need to show evidence to prove you are entitled to help.</p>

        <p><a class="button button-get-started" href="../../start">Help me work out if I can get help with health costs</a></p>

      </div>

        <nav class="pagination_gds" role="navigation" aria-label="Pagination">
            <ul class="group">
                  <li class="next">
                    <a title="Navigate to next part" rel="next" href="u16">
                      <span class="pagination-label">Next</span> <span class="pagination-part-title">People aged 16 and under</span>
                    </a>
                  </li>
            </ul>
          </nav>

    </div>

  </div>

</main>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
    var showBtn = $('#showBtn');
    var hideBtn = $('#hideBtn');
    var nav = $('#na');
    $(hideBtn).hide();

    $(hideBtn).click(function(){
        $(hideBtn).hide();
        $(showBtn).show();
        $(nav).toggleClass('page-navigation-closed');
    });

    $(showBtn).click(function(){
        $(showBtn).hide();
        $(hideBtn).show();
        $(nav).toggleClass('page-navigation-closed');
    });
});
</script>
{% endblock %}
