 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/low-income.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
    Has the local authority assessed your resources, and as a result, you get help with the cost of your care home accommodation?
  </h1>
  <p>If you are not sure, ask the home manager or matron</p>
  <form action="authority-assessed-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="authority" value="yes">
              <label class="form-control-radio js-toggle" for="yes" data-show="#local-authority">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="authority" value="no">
              <label class="form-control-radio js-toggle" for="no" data-hide="#local-authority">
                No
              </label>
            </div>
          </div>
                  <div class="js-hidden panel-indent" id="local-authority">

          {{
            form_macros.text_field({
              id: 'local-authority',
              hint: 'Local authority',
              label: 'Please tell us which local authority helps you'
            })
          }}

        </div>
        </fieldset>
      </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
    </div>
    </div>
</main>

{% endblock %}
