<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta content="telephone=no" name="format-detection"> <!-- need to add formatting for real phone numbers -->
  <title>NHS maternity exemption certificate</title>

  <style>
    @media only screen and (min-device-width: 581px) {
      .content {
        width: 580px !important;
      }
    }
      .notice {
    position: relative;
        }
.notice .icon {
    position: absolute;
    top: 50%;
    margin-top: -17px;
}
        .icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
}
          .icon-important {
    width: 35px;
    height: 35px;
    background-image: url("/public/images/icon-important.png");
    background-size: 100%;
}

        .visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}
        .notice strong {
    display: block;
    padding-left: 45px;
    margin-left:  5px;
}
  </style>
</head>

<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c;">


     <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53" bgcolor="#0072C6">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>

<td width="70" st-button="edit" bgcolor="#0072C6" valign="middle" height="72"><a href="/" class="header-logo" title="Go to the NHS.UK homepage"><img src="/public/images/nhs-rev-logotype.svg" alt="NHS logo" width="90px">
        </a></td>
                    </td>

                </tr>
            </table>
        </td>
    </tr>
</table>


        <table class="content" align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width: 580px;">
          <tr>
            <td>
                            <h1 style="font-family: Helvetica, Arial, sans-serif; font-size: 36px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 38px 0;">
                                NHS Maternity exemption certificate
                            </h1>

                            <p style="font-family: Helvetica, Arial, sans-serif; border-left: 10px #dee0e2 solid; padding: 14px 0 14px 14px; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0;">
                                Jane Doe<br/>
                                Valid from: 1 June 2016<br/>
                                Expiry date: 1 December 2017<br/>
                                NHS number: 333 333 3333<br/>
                            </p>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                This allows you to get free NHS prescriptions, dental exams and dental treatment until your child's first birthday.
                            </p>

                            <p class="notice">
                            <i class="icon icon-important">
                                <span class="visuallyhidden">Warning</span>
                            </i>
                            <strong class="bold-small">
                                You may have to show your health care professional this email as proof that you don't have to pay</strong>
                            </p>



<!--
                            <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 24px; line-height: 1.315789474; font-weight: 700; margin: 38px 0 19px 0;">
                                Second level heading</h2>
-->
                            <h3 style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; font-weight: 700; margin: 38px 0 19px 0;">
                               Further information
                            </h3>
                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                You can find out about other reasons why you don't have to pay for glasses or contact lenses:
                                <!-- URLs have white-space: nowrap so that they don't wrap -->
                                <a style="white-space: nowrap; font-family: Helvetica, Arial, sans-serif;" href="hwhc/v2/matex">https://www.nhs.uk/help-with-health-costs</a>
                            </p>


<!--
                            <p style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                Department or agency name
                            </p>
--><br>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 16px; color: #6F777B; line-height: 1.315789474; margin: 0 0 30px 0;">
                                Read our <a href="">privacy policy</a>, on how we use your infomation.<br/>
                            </p>
            </td>
          </tr>
        </table>



</body>
</html>
