 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<style>
    .additional-info{
        padding: 1rem 2rem 1rem 4rem;
        background: rgba(0, 114, 198, 0.1) url("/public/images/icon-information.png") 1rem no-repeat;
    }
</style>

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

       <!--3- Are you named on a Medical Exemption certificate-->
    <h2 class="heading-large">Do you have any of these longterm illnesses?</h2>

      <form action="longterm-illness-handler" method="get" class="form">

          <div class="form-item-wrapper">
              <ul class="list-bullet">
                 <li><strong>Diabetes</strong>
                    <br>Where treatment is not by diet alone
                 </li>
                 <li><strong>Cancer and are undergoing treatment</strong>
                     <br>Including treatment for the effects of cancer or the effects of cancer treatment.</li>

                 <li><strong>Epilepsy</strong> <br>Which needs anti-epileptic drugs (AEDs)</li>

                 <li><strong>A continuing physical disability</strong>
                     <br>Which means you cannot go out without the help of another person</li>

                 <li><strong>You need a continuous surgical dressing or an appliance</strong>
                     <br>Like a tracheotomy or need to use a stoma</li>

                 <li><strong>An underactive thyroid (hypothyroidism)</strong>
                     <br>Which needs hormone replacement</li>
              </ul>
          </div>

          <div class="additional-info">If you have a illness that is not listed or you unsure about the name of your condition, check with your doctor, who can advice you about free prescriptions. </div>
          <br>


          <div class="form-item-wrapper">
            <fieldset>
              <div class="inline-form-groups">
                <div class="form-group">
                  <input type="radio" id="yes" name="longtermIllness" value="yes">
                  <label class="form-control-radio" for="yes">
                    Yes
                  </label>
                </div>
                <div class="form-group">
                  <input type="radio" id="no" name="longtermIllness" value="no">
                  <label class="form-control-radio" for="no">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
  </div>
</div>

</main>


{% endblock %}








