 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">

<a href="javascript:history.go(-1)" class="link-back">Back</a>
 

 <div class="grid-row">
    <div class="column-two-thirds">

  <h1 class="heading-large">
      Do you or your partner receive any of these benefits?
  </h1>
<!--

  <details>

  <summary><span class="summary">What we mean by partner</span></summary>

  <div class="panel-indent">

    <p>
      We use the term partner to mean a person you live with as part of a couple of the same or opposite sex, whether or not you are married or in a civil partnership.
    </p>

  </div>

</details>
-->
  <br>
  <form action="passportedBen-handler" method="get" class="form">
    <div class="form-item-wrapper">
      <div class="form-group">
        <input type="radio" id="incomeSupport" name="benefits" value="incomeSupport">
        <label class="form-control-radio" for="incomeSupport">
          Income support
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="uniCredit" name="benefits" value="uniCredit">
        <label class="form-control-radio" for="uniCredit">
          Universal credit
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="jsa" name="benefits" value="jsa">
        <label class="form-control-radio" for="jsa">
          Income based job seekers allowance
        </label>
      </div>
      <div class="form-group">
        <input type="radio" id="esa" name="benefits" value="esa">
        <label class="form-control-radio" for="esa">
          Income related employment &amp; support allowance
        </label>
      </div>
      <p class="form-block">or</p>
      <div class="form-group">
        <input type="radio" id="continue" name="benefits" value="continue">
        <label class="form-control-radio" for="continue">
          I <strong>do not</strong> receive any of these
        </label>
      </div>
    {{
      form_macros.button({
        label: 'Next'
      })
    }}
          </div>

  </form>
    </div>
<!--  <div class="column-third " id="lists">

      <div class="right-col-details">
          
          

          <h3 class="heading-medium">What you get free </h3>

<ul class="form-hint-list">
    <li class="form-hint-list-item  form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS Sight test
    </li>
       
    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Glasses or contact lenses
    </li>
           
            <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all1">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS wigs
    </li>
    
    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all2">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Travel for treatment
    </li>
    
    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all3" >
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS dental exam
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all4">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS dental treatment
    </li>
</ul>



      </div> -->

    </div>
    </div>

</main>
<!--
<script>
$("#incomeSupport").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>
<script>
$("#uniCredit").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>
<script>
$("#jsa").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>
<script>
$("#esa").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>

<script>
$("#continue").click(function(){
    $("#all").addClass("hidden");
    $("#all1").addClass("hidden");
    $("#all2").addClass("hidden");
    $("#all3").addClass("hidden");
    $("#all4").addClass("hidden");
}); </script> -->



{% endblock %}
