 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

<!--
{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}
-->

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">You get full help with health costs</h1>

        <p class="intro-to-list">
          Anyone who gets {{tctype}} gets free:
        </p>
        <ul class="list list-bullet">
          <li>NHS prescriptions </li>
          <li>NHS dental treatment</li>
          <li>NHS sight tests</li>
          <li>NHS wigs and fabric supports</li>
        </ul>

                <p class="intro-to-list">
          They'll also get help towards the cost of:
        </p>
        <ul class="list list-bullet">
          <li>new glasses or contact lenses</li>
          <li>repairing or replacing their glasses or contact lenses</li>
          <li>travelling for NHS treatment</li>
        </ul>

              <section class="callout callout__info">
<h2 class="heading-medium">What you'll need as proof</h2>


          <p>Your exemption card should have been sent automatically.
          <br>If you've lost it, you can use the tax credit award notice as proof.</p>


  <div class="fanny-on">
<img src="/public/images/tax-cert.png" alt="what a NHS Tax Credit Exemption Certificate looks like">

  </div>
</section>


<!--
            <p class="intro-to-list">Anyone who gets {{bentype}}; or is named on the claim, gets free:</p>

       <ul class="form-hint-list">
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS prescriptions
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS dental treatment
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS Sight tests
    </li>
    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        NHS wigs and fabric supports
    </li>
        </ul>

         <p class="intro-to-list">
           They'll also get help towards the cost of:
        <ul>
                <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
       new glasses or contact lenses
    </li>
        </ul>
            <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        repairing or replacing their glasses or contact lenses
    </li>
        </ul>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__indicator"></span>
        travelling for NHS treatment
    </li>
        </ul>
-->

<br>
<!--
     <section class="callout callout__info">
<h2 class="heading-medium">What you'll need as proof</h2>

                     <p>You may have to show proof you get {{bentype}}.</p>

                    <p>You can use your Statement of Benefits as proof. You can get a copy of this letter by calling <strong>Jobcentre Plus</strong>.<br><br>
                       Telephone: <a href="tel:03456088545">0345 608 8545</a><br>
                       Textphone: <a href="tel:03456088551">0345 608 8551</a><br>
                       Welsh Language: <a href="tel:03456003018">0345 600 3018</a><br><br>
                       <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
                    </p>
          <br>
-->


<!--
      </div>
</section>
-->

    </div>
    </div>

</main>


{% endblock %}
