 {% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
  {% include "includes/service-headers/health-costs-checker.html" %}
{% endblock %}

{% block content %}

<main id="content" role="main">
<a href="javascript:history.go(-1)" class="link-back">Back</a>
  <div class="grid-row">
    <div class="column-two-thirds">



    <h2 class="heading-large">Were your net earnings £435 or less during your assessment period?</h2>


<details>
  <summary role="button" aria-controls="details-content-0" tabindex="0" aria-expanded="true"><span class="summary">What is my assessment period?</span></summary>

  <div class="panel-indent" id="details-content-0" aria-hidden="false" style="display: block;">

    <p>Your assessment period will run for a calendar month from the date of your claim for Universal Credit (which will be shown on your award notice), and between the same dates each month after that.</p>
  </div>
</details>



    <form action="uc-without-elements-handler" method="get" class="form">
      <div class="form-item-wrapper">
        <fieldset>
          <div class="inline-form-groups">
            <div class="form-group">
              <input type="radio" id="yes" name="ucIncome" value="yes">
              <label class="form-control-radio" for="yes">
                Yes
              </label>
            </div>
            <div class="form-group">
              <input type="radio" id="no" name="ucIncome" value="no">
              <label class="form-control-radio" for="no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

    {{
      form_macros.button({
        label: 'Next'
      })
    }}

  </form>
      </div>
<!--  <div class="column-third " id="lists">

      <div class="right-col-details">



          <h3 class="heading-medium">What you get free </h3>

<ul class="form-hint-list">
    <li class="form-hint-list-item  form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Prescriptions
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS Sight test
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Glasses or contact lenses
    </li>

            <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all1">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS wigs
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all2">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        Travel for treatment
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all3" >
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
        NHS dental exam
    </li>

    <li class="form-hint-list-item form-hint-list-item--valid hidden" id="all4">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
         NHS dental treatment
    </li>
</ul>



      </div> -->

    </div>
    </div>

</main>

<!--<script>
$("#yes").click(function(){
    $("#all").removeClass("hidden");
    $("#all1").removeClass("hidden");
    $("#all2").removeClass("hidden");
    $("#all3").removeClass("hidden");
    $("#all4").removeClass("hidden");
}); </script>
<script>
$("#no").click(function(){
    $("#all").addClass("hidden");
    $("#all1").addClass("hidden");
    $("#all2").addClass("hidden");
    $("#all3").addClass("hidden");
    $("#all4").addClass("hidden");
}); </script>
<script>-->

{% endblock %}









